name: Docker

on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request:
env:
  IMAGE_NAME: roon

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      
      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.3.0
        with:
          endpoint: builders

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Login to ghcr.io
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      
      - name: Prep Docker Tags
        id: docker_meta
        uses: docker/metadata-action@v3.3.0
        with:
          images: "docker.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}, ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}"
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=edge
            type=sha,prefix=git-
            

      - name: Build and push Docker images
        uses: docker/build-push-action@v2.4.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
      
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
