name: Release

on: 
  push:
    tags:
    - '**'

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: ncipollo/release-action@v1.8.0
      with:
        allowUpdates: true
        bodyFile: "release.md"
        token: ${{ secrets.GITHUB_TOKEN }}
